/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

$default-color: #78c2ad;

/* Preview */
@keyframes sg-typed-blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.sg-typing-text-wrapper {
	font-weight: 600;
}

.sg-typing-text {
	text-decoration: underline $default-color 0.17em;
	text-underline-offset: 0.455em;
}

.sg-typing-text-cursor {
	opacity: 1;
	&.hide {
		display: none;
	}
	&.blink {
		animation: sg-typed-blink 0.7s infinite;
	}
}

/* Toolbar */
.sgtt-dropdown__content > .components-popover__content {
	width: fit-content;
}

.sgtt-popover-header {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 8px;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
}

.sgtt-popover-header__action {
	height: 24px;
}

.sgtt-popover-header__heading {
	line-height: 1.2;
	margin: 0px;
	font-size: 13px;
}

.sgtt-textarea-control-wrapper {
	min-width: 350px;
}
